# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Built files
dist/
build/

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders
tmp/
temp/

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Angular specific files
.angular/
